article img{
  margin: 2rem 0 4rem 0;
  border-top: 2px solid var(--aqua);
  border-left: 2px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
}

.text h3 {
  color: var(--aqua);
}

.text h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin-bottom: .5rem;
}

.black-box {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  border-radius: 10px;
  line-height: 1.5;
}

.text ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;

  font-size: 1.1rem;
}

@media(min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  article img{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .text {
    grid-column: 5 / 11;
    grid-row: 1 / 2;
    order: 2;
    text-align: right;
  }

  .text ul {
    justify-content: flex-end;
  }

  .reverse .text {
    grid-column: 1 / 7;
    text-align: left;
  }

  .reverse img {
    grid-column: 6 / 11;
    grid-row: 1 / 2;
  }

  .reverse ul {
    justify-content: flex-start;
  }
}