.intro {
  padding: 5rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.intro p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.intro-link {
  color: var(--blue-3);
}

.name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 2.5rem;
  color: var(--aqua);
  display: block;
  max-width: 550px;

  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;

  animation:
    typing 4s steps(40, end),
    blink-caret 1s step-end infinite;
}

.intro h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

@media(min-width: 650px) {
  .name span {
    font-size: 4rem;
    border-right: .25rem solid var(--blue-3);
  }

  .intro h2 {
    font-size: 3rem;
  }

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  @keyframes blink-caret {

    from,
    to {
      border-color: transparent
    }

    50% {
      border-color: var(--blue-3);
    }
  }
}