.techs {
  background-color: var(--blue-1);
}

.techs-container {
  max-width: 425px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

.techs-container p {
  margin-bottom: 2rem;
}

.techs-container a {
  margin: 0 1rem;
}